body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #ee4540;
  }
  img{
    border:2px solid white;
  }
  .addOption{
    margin-top: 10px;
    width: inherit;
    font-size: 16px;
    background-color: #5bd1d7;
    border-radius: 1px;
    text-align: center;
    border: 2px solid white;
    color: white;
    }
  .submit {
    margin: 50px 50px 50px 50px;
    font-size: 20px;
    background-color: #5bd1d7;
    border-radius: 1px;
    text-align: center;
    border: 2px solid white;
    color: white;
  }

  h1 {
    font-weight: lighter;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 40px;
    }

    .inputSection {
      margin: 50px 0 80px 0;
      width: 400px
    }

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

input {
  margin-top: 10px;
}
